:root {
  --font-h2: "Playfair Display", serif;
  --font-p: "Roboto", sans-serif;
}

* {
 margin: 0;
 padding: 0;
}

body {
  box-sizing: border-box;
  font-family: var(--font-p);
  margin: 0;
  /* padding: 0; */
}

/*
 *
 */
header {
  width: 100%;

  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 50px;
  height: 100vh;
  background: url(./img/bgk-header.png) no-repeat;
}
.center h1 {
  color: white;
  font-weight: bold;
}
.center {
  position: absolute;
  top: 35%;
  left: 55%;
  transform: translate(-40%, -40%);
  font-size: 18px;
}

.para p {
  color: white;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-80%, -80%);
  font-size: 18px;
}
.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(26, 224, 231);
  font-weight: 500px;
  font-size: 1.8em;
  display: flex;
  justify-content: flex-start;
}

h1 {
  display: flex;
  text-align: center;
  top: 50%;
  left: 50%;
}
.navigation a {
  text-decoration: none;
  color: white;
  text-transform: lowercase;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
  padding-left: 30px;
}
.navigation a:hover {
  color: rgb(26, 224, 231);
  cursor: pointer;
  text-decoration: none;
}
.navigation .log {
  text-transform: uppercase;
  color: rgb(26, 224, 231);
}

.row {
  position: absolute;
  top: 43%;
  left: 50%;
  border-left: 3px solid rgb(10, 97, 100);
  margin-left: -4px;
  width: 70px;
}
button {
  position: absolute;
  top: 70%;
  left: 63%;
  color: rgb(26, 224, 231);
  transform: translate(-70%, -70%);
  padding: 10px;
  border: 2px solid rgb(26, 224, 231);
  background-color: transparent;
}

/*
 * Our Story
 */
.ourstorygrid {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 200px;
  padding: 100px;
}

h2 {
  font-family: var(--font-h2);
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0px;
  margin: 0px;
}

p {
  font-family: var(--font-p);
  font-weight: 300;
  font-size: 15px;
  color: #999999;
}

.buttonourstory {
  background-color: white;
  border: solid;
  border-width: thin;
  border-radius: 3px;
  color: #00cccc;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.watchourstory {
  background: url("img/bgk-middle.png") no-repeat;
  background-size: cover;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.playwatchourstory {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  cursor: pointer;
}

h3 {
  font-family: var(--font-p);
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  color: white;
}

@media screen and (max-width: 1290px) {
  .ourstorygrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 263px;
    align-content: space-between;
    justify-items: center;
    margin-left: 0px;
  }
  h2 {
    font-family: var(--font-h2);
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  p {
    font-family: var(--font-p);
    font-weight: 300;
    font-size: 15px;
    color: #999999;
    text-align: center;
  }
  .buttonourstory {
    background-color: white;
    border: solid;
    border-width: thin;
    border-radius: 3px;
    color: #00cccc;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin: auto;
  }
}

/*
 * Contact & Clients
 */
.contact_clients,
.contact_clients *,
footer,
footer * {
  /* border: 1px solid red; */
}

.contact_clients,
footer {
  padding-left: 15%;
  padding-right: 15%;
}

@media only screen and (max-width: 700px) {
  .contact_clients,
  footer {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.contact_clients {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  /* padding: 50px 20% 40px 20%; */
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media only screen and (max-width: 600px) {
  .contact_clients {
    flex-flow: column;
    /* align-items: center; */
  }
}

.contact,
.clients {
  display: flex;
  flex-flow: column;
  /* margin-right: calc(5% + 20px); */
  flex: 0 45%;
  margin-top: 1rem;
}

@media only screen and (max-width: 700px) {
  .contact {
    align-self: stretch;
  }
}

.contact {
  /* display: none; */
}

.contact_clients_title {
  font-weight: bolder;
  margin: 15px 0;
}

.contactform {
  display: flex;
  flex-flow: column;
  margin: 0;
}

.contactform > * {
  margin: 10px 0;
  padding: 10px;
  /* flex: 0 100%; */
}

.contactform > input,
.contactform > textarea {
  border: 1px solid lightgray;
  font-size: 0.7rem;
}

.contact_btn_submit {
  padding: 0.5rem;
  width: 100px;
  color: turquoise;
  background: inherit;
  border: 1px solid turquoise;
  font-weight: bold;
}

.contact_btn_submit:hover {
  background: rgba(199, 131, 199, 0.212);
}

.contact_btn_submit:active {
  background: purple;
}

.clients_imgs {
  width: 100%;
  display: grid;
  grid-template: repeat(5, 1fr) / minmax(80px, 160px) minmax(80px, 160px);
  /* grid-template: repeat(5, 1fr) / minmax(80px, 1fr) minmax(80px, 1fr); */
  /* grid-template: repeat(5, 1fr) / 1fr 1fr; */
  row-gap: 10px;
  column-gap: calc(5% + 0.5rem);
}

.clients_img,
.clients_img_small {
  grid-area: 1 1;
  justify-self: center;
  align-self: center;
  /* height: 50%; */
}

.clients_img {
  width: clamp(2rem, 70% + 20px, 8rem);
}

.clients_img_small {
  width: clamp(2rem, 50% + 20px, 8rem);
}

@media only screen and (max-width: 700px) {
  .clients_imgs {
    align-self: flex-end;
  }
}

/*
 * Footer
 */
footer {
  padding-top: 2rem;
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  /* flex-flow: column; */
  /* justify-content: center; */
  /* padding: 50px 10% 30px 10%; */
  /* padding: 0px 20% 0px 20%; */
  background: url(img/bgk-footer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20rem;
  color: white;
  font-size: 0.75rem;
  line-height: 1.2rem;
}

@media only screen and (max-width: 700px) {
  footer {
    height: 25rem;
  }
}

.footer-sections {
  display: grid;
  grid-template-rows: 70px 3fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "taj-h our-h stay-h"
    "taj-c our-c stay-c";
  column-gap: 2rem;
}

.footer-tajam-head {
  grid-area: taj-h;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.footer-tajam-head img {
  width: 2rem;
  /* width: 20%; */
  height: auto;
  /* align-self: flex-start; */
}

.footer-tajam-title {
  font-size: 1.3rem;
  color: turquoise;
  margin: 0 0 0 0.5rem;
  font-weight: normal;
}

.footer-our-studio-head {
  grid-area: our-h;
  align-self: center;
  font-weight: bold;
}

.footer-our-studio-content {
  display: grid;
  grid-template-columns: 1rem 1fr;
  grid-template-rows: 4rem 2rem;
  row-gap: 1rem;
  column-gap: 0.5rem;
}

.footer-stay-in-touch-head {
  grid-area: stay-h;
  align-self: center;
  font-weight: bold;
}

.footer-tajam-content {
  grid-area: taj-c;
}

.footer-our-studio-content {
  grid-area: our-c;
  min-width: 14rem;
}

.footer-stay-in-touch-content {
  grid-area: stay-c;
}

@media only screen and (max-width: 900px) {
  .footer-sections {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "our-h stay-h"
      "our-c stay-c";
  }

  .footer-tajam-head {
    display: none;
  }

  .footer-tajam-content {
    display: none;
  }

  .footer-our-studio-content {
    grid-template-rows: 1fr 2rem;
    min-width: 10rem;
  }
}

.newsletter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
}

.input-newsletter {
  color: white;
  background: inherit;
  border: 1px solid gray;
  padding: 0.5rem;
  min-width: 8rem;
  width: 1%;
  flex-grow: 1;
  font-size: 1em;
  margin-bottom: 0.5rem;
}

.newsletter_btn_submit {
  background: white;
  border: none;
  opacity: 0.4;
  margin-left: 3%;
  padding: 0.3em 1em 0em 1em;
  width: 3rem;
  margin-bottom: 0.5rem;
  /* align-self: flex-end; */
}

.newsletter_btn_submit:hover {
  background: gray;
}

.newsletter_btn_submit:active {
  background: turquoise;
}

.newsletter_btn_submit > img {
  width: 1.2rem;
}

.social-media {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.social-media img {
  width: 1.7rem;
  margin-right: 0.3rem;
  margin-bottom: 0.5rem;
}

.footer-nav {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.footer-nav > * {
  font-weight: bold;
  font-size: smaller;
}

.footer-nav > a {
  text-decoration: none;
  color: inherit;
  margin-right: calc(1% + 0.5rem);
}

.footer-nav-copyright {
  flex-grow: 5;
  text-align: right;
>>>>>>> 8eedbe9b9ff4d97a353cf6aac027f16881dec59c
}
